* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  background: linear-gradient(to right, rgb(227, 183, 53), rgb(219, 204, 155));
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-logo {
  margin: 2rem 0;
  width: 300px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 3rem 3rem 3rem;
}

.table {
  padding: 1rem;
  background: orange;
  border-radius: 10px;
}

.table-title {
  color: white;
  margin-bottom: 1.1rem;
}

.table-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
